
<section>
    <div class="login-container">
        {{!-- Landing page heading --}}
        <form action="/users/login" method="POST" class="login-form">
            {{!-- Prompts user to enter their name --}}
            <label for="name">Username:</label>
            <input type="text" id="name" name="name" required>
            {{!-- Prompts user to enter their email --}}
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            {{!-- Prompts user to input their password --}}
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            {{!-- On click, creates an account for the user to the website --}}
            <button id="submit" type="submit">Login</button>
        </form>
        {{!-- Takes user to the sign up page to create account --}}
        <div>
            <p class="redirection">Don't have an account? <a href="/signUp">Sign Up Now</a></p>
        </div>

    </div>
</section>

<script src="./js/login.js"></script>