<section>
    <h2 class="slogan">Oops... You must have an account to view these pages</h2>
    <p class="redirection" id="no-account">Already have an account? <a href="/">Login Now</a></p>
    <p class="redirection" id="no-account">Don't have an account? <a href="/signUp">Sign Up Now</a></p>
</section>